<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center">Lista de compra</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">  
  <ion-card>
    <form (ngSubmit)="crearTarea()" [formGroup]="tareaForm">
      <ion-row>
        <ion-col class="product" size="8">
          <ion-input class="custom" formControlName="nombre" type="text" placeholder="Producto"></ion-input>
            </ion-col>
            <ion-col size="4">
              <ion-button class="buton" fill="clear" type="submit"><ion-icon class="add" slot="icon-only" size="large" name="add"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
    </form>
  </ion-card>
  <ion-list class="border-radius" inset="true">
    <ion-list-header>
      <ion-label class="header">Artículos</ion-label>
    </ion-list-header>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
    <ion-item-sliding *ngFor="let tarea of tareas; let i=index">
      <ion-item [button]="true">
        <ion-checkbox (ionChange)="marcarCompletada($event, i, tarea.uid)"><ion-label id="{{i}}">{{tarea.nombre}}</ion-label></ion-checkbox>
        <ion-reorder slot="start"> </ion-reorder>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option slot="icon-only" color="danger" (click)="deleteTarea(tarea.uid)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-reorder-group>
    <ion-item-sliding *ngFor="let producto of productosComprados">
      <ion-item [button]="true">
        <ion-label [ngClass]="{'checked':producto.completada}">{{producto.nombre}}</ion-label>
        <ion-checkbox [checked]="producto.completada" (ionChange)="marcarCompletada($event, i, producto.uid)"></ion-checkbox>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option slot="icon-only" color="danger" (click)="deleteTarea(producto.uid)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button [disabled]="productosComprados.length===0" class="purchase" (click)="mostrarResumen(productosComprados)" expand="block" fill="solid" shape="round">
    Finalizar compra
  </ion-button>
  <ion-button  class="history" routerLink="/historial" expand="block" fill="solid" shape="round">
    Mostrar historial
  </ion-button>
  </ion-content>
