ion-toolbar{
    --background: #1d3d1e;
    --color: white;
  }

ion-content{
    --background:#a9bdb0;
}

.border-radius{
    border-radius: 10px;
}

ion-title{
  border-bottom: 2px solid #4caf50;

}