<ion-content *ngIf="historial">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/historial"></ion-back-button>
      </ion-buttons>
      <ion-title>Detalle de {{historial.nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="border-radius" [inset]="true">
    <ion-item>
      <ion-label>Nombre: {{historial.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Precio: {{historial.precio}}€</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de compra: {{historial.fecha | date: 'dd/MM/yyyy'}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

