@font-face {
    font-family: 'titulo';
    src: url('../../../assets/fonts/Simple Vintage.otf');
  }

  ion-toolbar{
    --background: #674e14;
    --color: white;
}

ion-title{
    font-family: 'titulo';
    font-size: 40px;
}

ion-content{
    --background:#bca672;
}

.border-radius{
    border-radius: 10px;
}

.header{
    font-family: 'titulo';
    text-align: center;
    font-size: 32px;
    margin-top: 0;
    border-bottom: 2px solid #80691f;
  }